<div>Login In</div>

{% if errors && errors.length %}
<ul>
{% for error in errors %}
  <li>
    {{ error }}
  </li>
{% endfor %}
</ul>
{% endif %}

<form role="form" action="/auth/local" method="post">
  <input type="hidden" name="_csrf" value="{{_csrf}}" />
  <input type="text" name="identifier" placeholder="Username or Email">
  <input type="password" name="password" placeholder="Password">
  <button type="submit">Sign in</button>
</form>

{% if providers && providers.length %}
  <h4>You can also use one of these...</h4>
  {% for provider in providers %}
    <a href="/auth/{{provider}}" role="button">{{provider}}</a>
  {% endfor %}
{% endif %}
<br />
<a href="/signup" role="button">Sign Up For Future Space</a>
